.gpt3__footer {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  background: var(--color-footer);
  padding-bottom: 0;
}

.gpt3__footer-heading {
  text-align: center;
  font-family: var(--font-family);
  margin-bottom: 8rem;
}

.gpt3__footer-heading h1 {
  font-weight: 800;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin-bottom: 3rem;
}

.gpt3__footer-heading button {
  font-size: 18px;
  line-height: 1.5;
  background: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 1rem;
  cursor: pointer;
}

/*========= Content */

.gpt3__footer-content {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: var(--font-family);
}

.gpt3__footer-content__container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;
}

.gpt3__footer-content__container-logo {
  display: flex;
  flex: 1;
  flex-direction: column;

  gap: 2rem;
}

.gpt3__footer-content__container-logo img {
  width: 118px;
  height: 30px;
}

.gpt3__footer-content__container-logo p {
  font-size: 12px;
  line-height: 14px;
}

/* =======Info */
.gpt3__footer-content__container-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
  flex: 2;
  margin-bottom: 3rem;
}

h6 {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  list-style: none;
}

ul li {
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
}

/* ======CopyRight */
.gpt3__footer-content__copyRight {
  padding: 2rem;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: 'liga';
}

@media screen and (max-width: 850px) {
  h6 {
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 2rem;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__footer-heading h1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    margin-bottom: 3rem;
    text-align: start;
  }
  .gpt3__footer-heading h1 > span {
    display: inline !important;
  }
  .gpt3__footer-content__container {
    flex-direction: column;
  }
  .gpt3__footer-content__container-info {
    flex-direction: column;
  }

  .gpt3__footer-content__container-info div {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
  }

  h6 {
    flex: 1;
  }
  ul {
    flex: 1;
    align-items: flex-start;
  }
}
